@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h3 class="display-4 text-white">Добре дошли в платформата за запазване на задачи.</h3>
    <p class="display-4 text-white mt-4">Бъди отговорен!</p>
</div>
